h1 {
    color: green;
    font-size: small;
    text-align: center;
    margin-bottom: 1px;
}

.viernes:hover,
tbody tr td:nth-child(5):hover,
tbody tr td:nth-child(6):hover {
    font-size: 2em;
}

.horas {
    background-color: green;
}

.recreo {
    background-color: yellow;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:visited {
    color: red;
}

a:link {
    color: green;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th::first-letter {
    font-size: 2em;
    font-weight: bold;
}

form {
    width: 50%;
    margin-left: 530px;
    margin-top: 10px;
}

input {
    border-color: red;
    width: 25%;
}

input:hover {
    background-color: lightgray;
}

.asterisco {
    font-size: small;
    color: black;
}

.asterisco {
    color: red;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

td:contains("Matemáticas") {
    background-color: #ffffff;
}