body {
  max-width: 60em;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0 1em;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.columna1 {
  width: 120em;
}

.columna2 {
  flex-grow: 1;
  margin-left: 2em;
}

.lista1 {
  padding-left: 1.7em;
  list-style-type: disc;
}

.lista2 {
  padding-left: 0em;
  list-style-type: none;
  column-count: 3;
}

ul li {
  margin-bottom: 0.5em;
}

p,
ul li {
  text-align: justify;
}