body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
}

h1#titulo {
    color: #008080;
    font-size: 2em;
    text-align: center;
}

h2#subtitulo {
    color: #0000FF;
    font-size: 1.5em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

.strong1 {
    color: #FF0000;
}

span.destacado {
    color: #DAA520;
}

span.especial {
    color: #800080;
}

.especial2 {
    color: #1ebb55;
}

a {
    color: #FF0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid black;
    color:green;
}


caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
}

th.especial,
.strong2,
.titulofila1 {
    color: #eeff00;
}

tfoot th {
    color: #8B0000;
}

tfoot td {
    color: #8B0000;
}

.titulotabla {
    color: #0000FF;
}

div#adicional p {
    color: #80cc23;
}

span#especial {
    color: #FF00FF;
}

em {
    color: blue
}